*{
    margin:0;
    padding:0
}
.container{
    width: 100%;
    background-color: white;
}
.items{
    height: 24px;
    width: 100%;
    margin-bottom:40px;
    background-color: #E4E5E7;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-image: linear-gradient(to right, #e9e9e9 0%, #eee 20%, #eee 40%, #e9e9e9 100%);
    animation: loading 2s infinite;
    -webkit-animation: loading 2s infinite;
    background-size: 200%;

}
.items:last-child{
  margin-bottom:0px;
}
@keyframes loading{
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0; 
  }
}